.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #999;
    color: black;
    text-align: center;
}

.buttons,
.div-logo {
    text-align: center;
}

.logo {
    margin-top: 5%;
    width: 25%;
    height: 25%;
}


/* Large desktop */

@media (min-width: 1200px) {
    .forms {
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 5%;
    }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    .forms {
        margin-left: 5%;
        margin-right: 5%;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .forms {
        margin-left: 5%;
        margin-right: 5%;
    }
}


/* Landscape phones and down */

@media (max-width: 480px) {
    .forms {
        margin-left: 5%;
        margin-right: 5%;
    }
}